doby {
  height: 100%;
}

.container-register {
  width: auto;
  display: flex;
  /* border: 0.1rem solid grey; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin: 2rem;
}

input {
  margin: 1rem;
}

.boton-register {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 0.3em;
  color: white;
  padding: 0.7em 1.6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.8em;
}
